<div id="landingContainer" style="display: none;">
    <div id="upper">
        <div id="left">
            <div id="image_seal_container">
                <img id="image_seal" src="assets/images/main.png" draggable="false"/>
                <div id="updateAvailableTooltip">Update Available</div>
            </div>
            <div id="donatorsContent">
                <a href="https://store.pokeresort.com/" id="donatorsTitle" class="fontPrimary">
                    <h4>RECENT PURCHASES</h4>
                    <i class="fa fa-shopping-bag fa-2x doSVG"></i>
                    <div class="donatorToolTip">Purchase ranks, keys & more</div>
                </a>
            </div>
        </div>
        <div id="content"></div>
        <div id="right">
            <div id="rightContainer">
                <div id="user_content">
                    <span id="user_text">Username</span>
                    <div id="avatarContainer">
                        <button id="avatarOverlay">Edit</button>
                    </div>
                </div>
                <div id="mediaContent">
                    <div id="internalMedia">
                        <div class="mediaContainer" id="settingsMediaContainer">
                            <button class="mediaClickable" id="settingsMediaButton">
                                <i class="fa fa-cog fa-2x faSVG"></i>
                                <p class="mediaTitle">SETTINGS</p>
                                <div class="mediaToolTip">Customize the PokeLauncher</div>
                            </button>
                        </div>
                        <div class="mediaContainer" id="socialMediaContainer">
                            <a href="http://discord.pokeresort.com/" class="mediaClickable mediaHalf" id="discordURL">
                                <svg id="discordSVG" class="mediaSVG" viewBox="35.34 34.3575 70.68 68.71500">
                                    <g>
                                        <path d="M81.23,78.48a6.14,6.14,0,1,1,6.14-6.14,6.14,6.14,0,0,1-6.14,6.14M60,78.48a6.14,6.14,0,1,1,6.14-6.14A6.14,6.14,0,0,1,60,78.48M104.41,73c-.92-7.7-8.24-22.9-8.24-22.9A43,43,0,0,0,88,45.59a17.88,17.88,0,0,0-8.38-1.27l-.13,1.06a23.52,23.52,0,0,1,5.8,1.95,87.59,87.59,0,0,1,8.17,4.87s-10.32-5.63-22.27-5.63a51.32,51.32,0,0,0-23.2,5.63,87.84,87.84,0,0,1,8.17-4.87,23.57,23.57,0,0,1,5.8-1.95l-.13-1.06a17.88,17.88,0,0,0-8.38,1.27,42.84,42.84,0,0,0-8.21,4.56S37.87,65.35,37,73s-.37,11.54-.37,11.54,4.22,5.68,9.9,7.14,7.7,1.47,7.7,1.47l3.75-4.68a21.22,21.22,0,0,1-4.65-2A24.47,24.47,0,0,1,47.93,82S61.16,88.4,70.68,88.4c10,0,22.75-6.44,22.75-6.44a24.56,24.56,0,0,1-5.35,4.56,21.22,21.22,0,0,1-4.65,2l3.75,4.68s2,0,7.7-1.47,9.89-7.14,9.89-7.14.55-3.85-.37-11.54"/>
                                    </g>
                                </svg>
                                <div class="mediaToolTip">Join the PokeResort Discord</div>
                            </a>
                            <a href="https://youtube.com/zeotyt" class="mediaClickable mediaHalf" id="youtubeURL" disabled>
                                <svg id="youtubeSVG" class="mediaSVG" viewBox="35.34 34.3575 70.68 68.71500">
                                    <g>
                                        <path d="M84.8,69.52,65.88,79.76V59.27Zm23.65.59c0-5.14-.79-17.63-3.94-20.57S99,45.86,73.37,45.86s-28,.73-31.14,3.68S38.29,65,38.29,70.11s.79,17.63,3.94,20.57,5.52,3.68,31.14,3.68,28-.74,31.14-3.68,3.94-15.42,3.94-20.57"/>
                                    </g>
                                </svg>
                                <div class="mediaToolTip">Follow us on YouTube</div>
                            </a>
                        </div>
                        <div class="mediaContainer">
                            <a href="https://pokeresort.com/wiki/Home" class="mediaClickable" id="wikiURL">
                                <i class="fa fa-book fa-2x faSVG"></i>
                                <p class="mediaTitle">WIKI</p>
                                <div class="mediaToolTip">Learn about PokeResort features</div>
                            </a>
                        </div>
                        <div class="mediaContainer">
                            <a href="https://store.pokeresort.com/" class="mediaClickable" id="storeURL">
                                <i class="fa fa-shopping-bag fa-2x faSVG"></i>
                                <p class="mediaTitle">STORE</p>
                                <div class="mediaToolTip">Purchase ranks, keys & more</div>
                            </a>
                        </div>
                        <div class="mediaContainer">
                            <a href="https://store.pokeresort.com/vote" class="mediaClickable" id="voteURL">
                                <i class="fa fa-check fa-2x faSVG"></i>
                                <p class="mediaTitle">VOTE</p>
                                <div class="mediaToolTip">Vote to earn daily rewards</div>
                            </a>
                        </div>
                    </div>
                </div>
                <a href="https://store.pokeresort.com/events" id="tournamentContent">
                    <h4><i class="fa fa-medal fa-2x taSVG"></i>WEEKLY TOURNAMENT</h4>
                    <p>Register to participate in the next official PokeResort Tournament & win store prizes!</p>
                    <div class="mediaToolTip">Join the next PokeResort Tournament</div>
                </a>
            </div>
        </div>
    </div>
    <div id="lower">
        <div id="left">
            <div class="bot_wrapper">
                <div id="content">
                    <div id="server_status_wrapper">
                        <span class="bot_label" id="landingPlayerLabel">SERVER</span>
                        <span id="player_count">OFFLINE</span>
                    </div>

                    <div id="mojangStatusWrapper">
                        <span class="bot_label">MOJANG STATUS</span>
                        <span id="mojang_status_icon">&#8226;</span>
                        <div id="mojangStatusTooltip">
                            <div id="mojangStatusTooltipTitle">Services</div>
                            <div id="mojangStatusEssentialContainer">
                                <!-- Essential Mojang services are populated here. -->
                            </div>
                            <div id="mojangStatusNEContainer">
                                <div class="mojangStatusNEBar"></div>
                                <div id="mojangStatusNETitle">Non&nbsp;Essential</div>
                                <div class="mojangStatusNEBar"></div>
                            </div>
                            <div id="mojangStatusNonEssentialContainer">
                                <!-- Non Essential Mojang services are populated here. -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="center">
            <div class="bot_wrapper">
                <div id="content">
                    <button id="newsButton">

                        <div id="newsButtonAlert" style="display: none;"></div>
                        <svg id="newsButtonSVG" viewBox="0 0 24.87 13.97">
                            <defs>
                                <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;}</style>
                            </defs>
                            <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                        </svg>
                        &#10;<span id="newsButtonText">NEWS</span>
                    </button>
                </div>
            </div>
        </div>
        <div id="right">
            <div class="bot_wrapper">
                <div id="launch_content">
                    <button id="launch_button">LAUNCH</button>
                    <div class="bot_divider" style="margin-top: 10px;"></div>
                    <button id="server_selection_button" class="bot_label">&#8226; No Server Selected</button>
                </div>
                <div id="launch_details">
                    <div id="launch_details_left">
                        <span id="launch_progress_label">0%</span>
                        <div class="bot_divider"></div>
                    </div>
                    <div id="launch_details_right">
                        <progress id="launch_progress" value="22" max="100"></progress>
                        <span id="launch_details_text" class="bot_label fontPrimary">One moment...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="newsContainer">
        <div id="newsContent" article="-1" style="display: none;">
            <div id="newsStatusContainer">
                <div id="newsStatusContent">
                    <div id="newsTitleContainer">
                        <a id="newsArticleTitle" href="#">Lorem Ipsum</a>
                    </div>
                    <div id="newsMetaContainer">
                        <div id="newsArticleDateWrapper">
                            <span id="newsArticleDate">Mar 15, 44 BC, 9:14 AM</span>
                        </div>
                        <div id="newsArticleAuthorWrapper">
                            <span id="newsArticleAuthor">by Zeot</span>
                        </div>
                        <a href="#" id="newsArticleComments">0 Comments</a>
                    </div>
                </div>
                <div id="newsNavigationContainer">
                    <button id="newsNavigateLeft">
                        <svg id="newsNavigationLeftSVG" viewBox="0 0 24.87 13.97">
                            <defs>
                                <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                            </defs>
                            <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                        </svg>
                    </button>
                    <span id="newsNavigationStatus">1 of 1</span>
                    <button id="newsNavigateRight">
                        <svg id="newsNavigationRightSVG" viewBox="0 0 24.87 13.97">
                            <defs>
                                <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                            </defs>
                            <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div id="newsArticleContainer">
                <div id="newsArticleContent">
                    <div id="newsArticleContentScrollable">

                    </div>
                </div>
            </div>
        </div>
        <div id="newsErrorContainer">
            <div id="newsErrorLoading">
                <span id="nELoadSpan" class="newsErrorContent">One moment...</span>
            </div>
            <div id="newsErrorFailed" style="display: none;">
                <span id="nEFailedSpan" class="newsErrorContent">Failed to Load News</span>
                <button id="newsErrorRetry">Try Again</button>
            </div>
            <div id="newsErrorNone" style="display: none;">
                <span id="nENoneSpan" class="newsErrorContent">No News</span>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/landing.js"></script>
</div>
