<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImage" src="assets/images/main.png" draggable="false"/>
        <div id="welcomeHeader" class="fontPrimary" style="font-size: 35px">Poké</div>
        <div class="fontSecondary" style="font-size: 55px; margin-top: -17px;">LAUNCHER</div>
        <span id="welcomeDescription" class="fontPrimary" style="font-size: 23px">Welcome trainer - an epic adventure awaits in just a few clicks!</span>

        <button id="welcomeButton">
            <div id="welcomeButtonContent" class="fontSecondary" style="font-size: 55px">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97" style="margin-top: 9px">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>
